*{
    font-family: "Poppins" , sans-serif;
    scrollbar-width: none;
}

.hero{
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);

}

@media (max-width: 991px){
    .navbar{
        border-radius: 0 !important;
    }
}

@media (max-width: 992px){
    .subscribeheading{
        padding-top: 18%;
    }

}

@media (max-width: 359px){
    .hero-inp ::placeholder{
        font-size: 10px;
    }

}

@media (max-width:992px){
    .broker-img img{
        margin-left: 1rem !important;
        width: 320px;
    }

    .onesecimg img{
        left: 10% !important;
    }

    .subscribe img{
        /* left: 10% !important; */
        top: -190px !important;
    }

    .line1{
        font-size: 2rem !important;
    }
}

@media screen and (max-width:458px){
    .onesecimg img{
        min-width: 100px !important;
    }
}

@media screen and (max-width:435px) {
    .threeval{
        margin-left: 4% !important;
    }
}


@media screen and (max-width:380px) {
    .line1{
        font-size: 25px !important;
    }

    .line2{
        font-size: 9px !important;
    }

    .broker-img img{
        max-width: 276px !important;
        margin-left: 0rem !important;
    }
}

@media screen and (max-width:360px) {
    .line1{
        font-size: 15px !important;
    }

    .threeval{
        margin-left: 1% !important;
    }

    .subscribe img{
        min-width: 250px !important;
        height: 200px !important;
    }
}













